<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daiict.internship.Sahara">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UserDashboard.AboutUsCommonActivity"></activity>
        <activity android:name=".UserDashboard.ProfileSettingsContactUs" />
        <activity android:name=".Login.ForgetPasswordSuccessMessage" />
        <activity android:name=".Login.SetNewPassword" />
        <activity android:name=".Login.VerifyOTP" />
        <activity android:name=".Login.SelectForgotPassMethod" />
        <activity android:name=".Login.CovidInfoActivity" />
        <activity android:name=".UserDashboard.ProfileSettingsFeedback" />
        <activity android:name=".UserDashboard.ProfileSettingsReportProblem" />
        <activity android:name=".UserDashboard.ProfileEditProfileActivity" />
        <activity android:name=".UserDashboard.ProfileSettingsAcitivity" />
        <activity android:name=".UserDashboard.AddDonorAddItemAcitivity" />
        <activity android:name=".UserDashboard.BottomNavigationUsers" />
        <activity android:name=".SignUp.SignUpPage3" />
        <activity android:name=".SignUp.SignUpPage2" />
        <activity android:name=".SignUp.SignUpPage1" />
        <activity android:name=".Login.ForgotPassword" />
        <activity android:name=".LoginSignUPDashboard.AppWorkDetails" />
        <activity android:name=".Login.Login" />
        <activity android:name=".SignUp.SelectionCategory" />
        <activity android:name=".LoginSignUPDashboard.LoginSignUpDashboard" />
        <activity android:name=".IntroSlider.IntroSlider" />
        <activity android:name=".Splash_Screen.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>